<launch>
  <!-- Vehicle Arguments -->
  <!-- Mass in kilograms -->
  <arg name="chassis_mass" default="1351" />
  <arg name="wheel_mass" default="11" />
  <!-- Length in meters -->
  <arg name="chassis_length" default="4.45"/>
  <arg name="chassis_width" default="2.7" />
  <arg name="chassis_height" default="1.45" />
  <arg name="wheel_radius" default="0.3556" />
  <arg name="wheel_depth" default="0.2" />
  <arg name="wheelbase" default="3" />
  <!-- Limits -->
  <arg name="steering_limit_degrees" default="27" />

  <!-- Topic names -->
  <arg name="vehicle_odom_topic" default="ground_truth" />
  <arg name="vehicle_control_topic" default="cmd_vel" />
  <arg name="vehicle_path_topic" default="path" />
  <arg name="path_visualization_topic" default="path_markers" />
  <arg name="search_visualization_topic" default="search_markers" />

  <!-- Planner Arguments -->
  <arg name="planner_dt" default="1" />
  <arg name="planner_discretization_degrees" default="22.5" />
  <arg name="planner_steering_increments" default="1" />
  <arg name="planner_velocity" default="1.0" /> <!-- m/s -->
  <arg name="planner_epsilon" default="1.0" />
  <arg name="planner_edge_cost_function" default="Euclidean" />
  <arg name="planner_heuristic" default="Euclidean" />
  <arg name="planner_inadmissable" default="Angular" />
  <arg name="planner_epsilon_mha" default="1.0" />
  <arg name="planner_debug" default="false" />
  <arg name="planner_search" default="MHA*"/>

  <!-- Controller Arguments -->
  <arg name="controller_lookahead_distance" default="1.0" /> <!-- m -->
  <arg name="controller_velocity" default="$(arg planner_velocity)" /> <!-- m/s -->


  <arg name="model" default="$(find ackermann_project)/config/ackermann.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find ackermann_project)/config/ackermann.rviz" />

  <group>
    <include file="$(find ackermann_project)/launch/gazebo.launch">
      <arg name="model" value="$(arg model)" />
      <arg name="chassis_mass" default="$(arg chassis_mass)" />
      <arg name="wheel_mass" default="$(arg wheel_mass)" />
      <arg name="chassis_length" default="$(arg chassis_length)"/>
      <arg name="chassis_width" default="$(arg chassis_width)" />
      <arg name="chassis_height" default="$(arg chassis_height)" />
      <arg name="wheel_radius" default="$(arg wheel_radius)" />
      <arg name="wheel_depth" default="$(arg wheel_depth)" />
      <arg name="wheelbase" default="$(arg wheelbase)" />
      <arg name="vehicle_odom_topic" default="$(arg vehicle_odom_topic)" />
      <arg name="vehicle_control_topic" default="$(arg vehicle_control_topic)" />
      <arg name="steering_limit_degrees" default="$(arg steering_limit_degrees)" />
    </include>

    <node name="ackermann_planner_node" pkg="ackermann_planner" type="ackermann_planner_node" output=
    "screen">
      <param name="wheelbase" type="double" value="$(arg wheelbase)" />
      <param name="dt" type="double" value="$(arg planner_dt)" />
      <param name="discretization_degrees" type="double" value="$(arg planner_discretization_degrees)" />
      <param name="steering_increments" type="int" value="$(arg planner_steering_increments)" />
      <param name="velocity" type="double" value="$(arg planner_velocity)" />
      <param name="vehicle_path_topic" type="str" value="$(arg vehicle_path_topic)" />
      <param name="vehicle_odom_topic" type="str" value="$(arg vehicle_odom_topic)" />
      <param name="epsilon" type="double" value="$(arg planner_epsilon)" />
      <param name="edge_cost_function" type="str" value="$(arg planner_edge_cost_function)" />
      <param name="heuristic" type="str" value="$(arg planner_heuristic)" />
      <param name="search_visualization_topic" type="str" value="$(arg search_visualization_topic)" />
      <param name="debug" type="bool" value="$(arg planner_debug)" />
      <param name="inadmissable" type="str" value="$(arg planner_inadmissable)" />
      <param name="epsilon_mha" type="double" value="$(arg planner_epsilon_mha)" />
      <param name="search" type="str" value="$(arg planner_search)" />
    </node>

    <node name="ackermann_controller_node" pkg="ackermann_controller" type="ackermann_controller_node" output=
    "screen">
      <param name="lookahead_distance" type="double" value="$(arg controller_lookahead_distance)" />
      <param name="velocity" type="double" value="$(arg controller_velocity)" />
      <param name="vehicle_odom_topic" type="str" value="$(arg vehicle_odom_topic)" />
      <param name="vehicle_control_topic" type="str" value="$(arg vehicle_control_topic)" />
      <param name="vehicle_path_topic" type="str" value="$(arg vehicle_path_topic)" />
    </node>

    <node name="ackermann_visualization_node" pkg="ackermann_visualization" type="ackermann_visualization_node" output=
    "screen">
      <param name="path_visualization_topic" type="str" value="$(arg path_visualization_topic)" />
      <param name="vehicle_path_topic" type="str" value="$(arg vehicle_path_topic)" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
  </group>
</launch>
