<launch>
  <!-- Vehicle Arguments -->
  <!-- Mass in kilograms -->
  <arg name="chassis_mass" default="1351" />
  <arg name="wheel_mass" default="11" />
  <!-- Length in meters -->
  <arg name="chassis_length" default="4.45"/>
  <arg name="chassis_width" default="2.7" />
  <arg name="chassis_height" default="1.45" />
  <arg name="wheel_radius" default="0.3556" />
  <arg name="wheel_depth" default="0.2" />
  <arg name="wheelbase" default="3" />

  <!-- Planner Arguments -->
  <arg name="planner_dt" default=".1" />
  <arg name="planner_discretization_degrees" default="22.5" />
  <arg name="planner_steering_increments" default="1" />
  <arg name="planner_velocity" default="5.0" /> <!-- m/s -->
  <arg name="planner_angular_threshold_degrees" default="15.0" /> <!-- degrees -->
  <arg name="planner_distance_threshold" default="1.0" /> <!-- m -->


  <arg name="model" default="$(find ackermann_project)/config/ackermann.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find ackermann_project)/config/ackermann.rviz" />

  <include file="$(find ackermann_project)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="chassis_mass" default="$(arg chassis_mass)" />
    <arg name="wheel_mass" default="$(arg wheel_mass)" />
    <arg name="chassis_length" default="$(arg chassis_length)"/>
    <arg name="chassis_width" default="$(arg chassis_width)" />
    <arg name="chassis_height" default="$(arg chassis_height)" />
    <arg name="wheel_radius" default="$(arg wheel_radius)" />
    <arg name="wheel_depth" default="$(arg wheel_depth)" />
    <arg name="wheelbase" default="$(arg wheelbase)" />
  </include>

  <node name="ackermann_planner_node" pkg="ackermann_planner" type="ackermann_planner_node" output=
  "screen">
    <param name="wheelbase" type="double" value="$(arg wheelbase)" />
    <param name="dt" type="double" value="$(arg planner_dt)" />
    <param name="discretization_degrees" type="double" value="$(arg planner_discretization_degrees)" />
    <param name="steering_increments" type="int" value="$(arg planner_steering_increments)" />
    <param name="velocity" type="double" value="$(arg planner_velocity)" />
    <param name="angular_threshold_degrees" type="double" value="$(arg planner_angular_threshold_degrees)" />
    <param name="distance_threshold_meters" type="double" value="$(arg planner_distance_threshold)" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
</launch>
