<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="./ackermann.urdf.xacro"/>

  <!-- Mass in kilograms -->
  <arg name="chassis_mass" default="1351" />
  <arg name="wheel_mass" default="11" />
  <!-- Length in meters -->
  <arg name="chassis_length" default="4.45"/>
  <arg name="chassis_width" default="2.7" />
  <arg name="chassis_height" default="1.45" />
  <arg name="wheel_radius" default="0.3556" />
  <arg name="wheel_depth" default="0.2" />
  <arg name="wheelbase" default="3" />
  <!-- Topic names -->
  <arg name="vehicle_odom_topic" default="$(arg vehicle_odom_topic)" />

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Get robot description by processing URDF -->
  <param name="robot_description" command="xacro $(arg model) chassis_mass:=$(arg chassis_mass)
                                                              wheel_mass:=$(arg wheel_mass)
                                                              chassis_length:=$(arg chassis_length)
                                                              chassis_width:=$(arg chassis_width)
                                                              chassis_height:=$(arg chassis_height)
                                                              wheel_radius:=$(arg wheel_radius)
                                                              wheel_depth:=$(arg wheel_depth)
                                                              wheelbase:=$(arg wheelbase)
                                                              vehicle_odom_topic:=$(arg vehicle_odom_topic)" />

  <!-- Push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

  <!-- Publish (some of) robot state for RVIZ visualization -->
  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

</launch>
